.inputs{
  padding: 6px 180px 12px 180px;
}

.container1 {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  text-align: center;
  border: 2px solid #dee2e6;
  padding: 5px;
  word-wrap: break-word;
}

.foto {
  max-width: 70%;
  height: auto;
}